<h1>Contents#show</h1>
<p>Find me in app/views/contents/show.html.erb</p>

<h3>
    제목 : <%= @content.title %>     
</h3>

<h4>
    내용 : <%= simple_format(@content.body) %> <br>
    작성자 : <%= @content.user.email %>
</h4>

<% @content.comments.each do |comment| %>
    <!--앞에 = 안붙인 것은 @content때문.-->
    <p> <%= comment.body %> </p>
<% end %>

<%= form_for [@content, Comment.new] do |f| %>
    <!--@content안에 새로운 comment들을 만들겠다.-->
    <%= f.text_area :body %>
    <%= f.submit %>
<% end %>