<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
    <%= current_user.email %>님 환영합니다.
    <%= link_to '로그아웃', session_path(current_user.id), method: :delete %> | 
    <%= link_to 'admin 권한', users_edit1_path(current_user.id) %> | 
    <%= link_to 'moder 권한', users_edit2_path(current_user.id) %> |
    <%= link_to 'index로 가기', contents_path %>
<% else %>
    <%= link_to '회원가입', new_user_path %> | <%= link_to '로그인', new_session_path %>
<% end %>

<%= yield %>

</body>
</html>
